<% include ../partials/header %>
<section class="shopping-background">

    </section>

<section class="shopping shopping-part1 shopping-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/q_59/v1529111717/ONIT/shopping/asakusa/asakusa3.jpg">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 text-center content">
                <h1>Asakusa</h1>
                <p>Asakusa (浅草) is the center of Tokyo's shitamachi (literally "low city"), 
                    one of Tokyo's districts, where an atmosphere of the Tokyo of past decades 
                    survives.
                </p>
            </div>
        </div>
        </div>
</section>

<section class="shopping shopping-content">
    <div class="text-center container content">
        <p>
            Asakusa's main attraction is Sensoji, a very popular Buddhist temple, built 
            in the 7th century. The temple is approached via the Nakamise, a shopping 
            street that has been providing temple visitors with a variety of traditional, 
            local snacks and tourist souvenirs for centuries.
        </p>
        <p>
            Asakusa can easily be explored on foot. Alternatively, you can consider a guided
             tour on a rickshaw (jinrikisha, literally "man powered vehicle"). A 30 minute tour 
             for two persons costs around 9000 yen. Shorter and longer courses are also available.
        </p>
        <p>
            For many centuries, Asakusa used to be Tokyo's leading entertainment district. During 
            the Edo Period (1603-1867), when the district was still located outside the city limits, 
            Asakusa was the site of kabuki theaters and a large red light district. In the late 1800s 
            and early 1900s, modern types of entertainment, including movie theaters, set foot in 
            Asakusa.
        </p>
    </div>
</section>
<section class="shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:low,w_906/v1529111720/ONIT/shopping/asakusa/asakusa4.jpg" >
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:low,w_906/v1529111717/ONIT/shopping/asakusa/asakusa1.jpg" >
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:low,w_906/v1529111721/ONIT/shopping/asakusa/asakusa2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="shopping shopping-content">
    <div class="container text-center content">
        <p>
            However, large parts of Asakusa were destroyed in the air raids of World War Two. 
            And while the area around the rebuilt Sensoji has regained its former popularity 
            after the war, the same cannot be said for Asakusa's entertainment district. The 
            opening of the 634 meter tall Tokyo Skytree, a twenty minute walk across the Sumida 
            River from Asakusa, has led to an increase of tourists recently.
        </p>
        <p id="source">
            <strong><em>From @Japan Guide</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>