<% include ../partials/header %>
<section class="shopping-background">

</section>

<section class="shopping shopping-part1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="thumbnail">
                    <img src="http://res.cloudinary.com/liuqidake/image/upload/q_auto:eco/v1529135923/ONIT/shopping/ginza/ginza5.jpg">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 text-center content">
                <h1>Ginza</h1>
                <p>The Ginza (銀座) is Tokyo's most famous upmarket shopping, 
                    dining and entertainment district, featuring numerous department stores, 
                    boutiques, art galleries, restaurants, night clubs and cafes.
                </p>
            </div>
        </div>
        </div>
</section>

<section class="module module-part1">
    <div class="container main-content">
        <p>
            One square meter of land in the district's center is worth over ten million yen, 
            making it one of the most expensive real estate in Japan. It is where you can find 
            the infamous $10 cups of coffee and where virtually every leading brand name in fashion 
            and cosmetics has a presence.
        </p>
        <p>
            From 1612 to 1800, today's Ginza district was the site of a silver 
            coin mint (Ginza means "silver mint" in Japanese), after which the 
            district was eventually named. The Ginza evolved as an upmarket shopping 
            district following the 1923 Great Kanto Earthquake.
        </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:low,w_906/v1529111736/ONIT/shopping/ginza/ginza3.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_62,w_906/v1529111729/ONIT/shopping/ginza/ginza1.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_64,w_906/v1529111728/ONIT/shopping/ginza/ginza4.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="main-content container">
        <p>
            Most shops in the Ginza district are open every day of 
            the week. A visit is most pleasant on weekend afternoons 
            when the central Chuo Dori street is closed to automobile 
            traffic and become a large pedestrian zone. The road closure 
            takes place from 12:00 to 17:00 (until 18:00 from April 
            through September).
        </p>
        <p id="source">
            <strong><em>From @Japan Guide</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>