<% include ../partials/header %>
<section class="shopping-background">

</section>

<section class="shopping shopping-part1 shopping-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="thumbnail">
                    <img src="http://res.cloudinary.com/liuqidake/image/upload/q_70/v1529137717/ONIT/shopping/shibuya/shibuya4.jpg" >
                </div>
            </div>
            <div class="col-md-6 col-xs-12 text-center content">
                <h1>Shibuya</h1>
                <p>                  
                    Shibuya (渋谷) is one of the twenty-three city wards of Tokyo, 
                    but often refers to just the popular shopping and entertainment 
                    area found around Shibuya Station. In this regard, Shibuya is one 
                    of Tokyo's most colorful and busy districts, packed with shopping, 
                    dining and nightclubs serving swarms of visitors that come to the
                    district everyday.
                </p>
            </div>
        </div>
        </div>
</section>

<section class="shopping shopping-content">
    <div class="text-center container content">
        <p>
            Shibuya is a center for youth fashion and culture, and its streets are 
            the birthplace to many of Japan's fashion and entertainment trends. Over a 
            dozen major department store branches can be found around the area catering 
            to all types of shoppers. Most of the area's large department and fashion 
            stores belong to either Tokyu or Seibu, two competing corporations.
        </p>
        <p>
            A prominent landmark of Shibuya is the large intersection in front of the 
            station's Hachiko Exit. The intersection is heavily decorated by neon 
            advertisements and giant video screens and gets flooded by pedestrians each 
            time the crossing light turns green, making it a popular photo and movie filming 
            spot.
        </p>
        <p>
            Shibuya Station and surroundings are undergoing major redevelopment over 
            the coming years. On the east side of the station, a new large culture, shopping 
            and office complex, the Shibuya Hikarie, opened in spring 2012. A year later, the 
            Tokyu Toyoko Line platforms were moved underground, enabling through-traffic with
             the Fukutoshin Subway Line.
        </p>
    </div>
</section>
<section class="shopping">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_65,w_906/v1529137597/ONIT/shopping/shibuya/shibuya5.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:low,w_960/v1529137716/ONIT/shopping/shibuya/shibuya6.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:low,w_906/v1529111752/ONIT/shopping/shibuya/shibuya2.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shopping shopping-content">
    <div class="container text-center content">
        <p>
            Furthermore, a major redevelopment of the Shibuya Station building is now underway, 
            including the construction of a new, 230 meter tall skyscraper to be completed by 
            around 2020 and the move of the platforms of the JR Saikyo Line next to the platforms 
            of the JR Yamanote Line. In addition, the pedestrian plaza on the west side of the 
            station will be enlarged and made more pedestrian friendly in combination with a 
            rearrangement of the bus and taxi stops. The entire project is scheduled for completion 
            around 2027.
        </p>       
        <p id="source">
            <strong><em>From @Japan Guide</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>