<% include ../partials/header %>
<section class="shopping-background">

    </section>

<section class="shopping shopping-part1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/q_63/v1529111763/ONIT/shopping/shimokitazawa/Shimokitazawa4.jpg" >
                </div>
            </div>
            <div class="col-md-6 col-xs-12 text-center content">
                <h1>Shimo-kitazawa</h1>
                <p>
                    Shimo-kitazawa is a district in Tokyo's Setagaya ward loved by the 
                    young and old for its vibrant culture. Well-known for its fashion 
                    and vintage clothes stores, as well as for its interior goods and 
                    antique shops, Shimokita is a great shopping destination for those 
                    who seek unique items.
                </p>
            </div>
        </div>
        </div>
</section>

<section class="module module-part1">
    <div class="container main-content">
        <p>
            The many theaters, live music venues, art galleries, cozy cafes and izakayas 
            in Shimokitazawa are gathering places for like-minded people to hang out while 
            enjoying good quality art and entertainment created mostly by independent artists. 
            In fact, Shimokita is often called "the town of music", as there are arguably at 
            least 50 live music venues in the area. It is also known as "the town of theater" 
            because of its well-established theaters and annual performing arts festival.
        </p>
    </div>
</section>
<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_64,w_906/v1529111758/ONIT/shopping/shimokitazawa/shimokitazawa3.jpg" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_61,w_906/v1529111760/ONIT/shopping/shimokitazawa/shimokitazawa1.jpg" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_68,w_906/v1529111763/ONIT/shopping/shimokitazawa/Shimokitazawa2.jpg" >
                </div>
            </div>
        </div>
    </div>
    <div class="main-content container">    
        <p>
            Because Shimokitazawa has been the cradle of Tokyo's subcultures s
            ince the 1970's, you'll encounter a nostalgic side of this town underneath 
            its popularity among the youth. It all adds up to the image of this town as
            being a hub for creative endeavors.
        </p> 
        <p id="source">
            <strong><em>From @MATCH</em></strong>
        </p>  
    </div>
</section>

<% include ../partials/footer %>