<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat|Open+Sans+Condensed:300|Crimson+Text:400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">One Night In Tokyo</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">       
                <li><a href="/content">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/content/food/gonpachi">Gonpachi</a></li>
                        <li><a href="/content/food/warayakiya">Warayakiya</a></li>
                        <li><a href="/content/food/sasagin">Sasagin</a></li>
                        <li><a href="/content/food/shirube">Shirube</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shopping <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/content/shopping/ginza">Ginza</a></li>
                        <li><a href="/content/shopping/asakusa">Asakusa</a></li>
                        <li><a href="/content/shopping/shibuya">Shibuya</a></li>
                        <li><a href="/content/shopping/shimokitazawa">Shimo-kitazawa</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Onsen <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/content/onsen/niwanoyu">Niwa no Yu</a></li>
                        <li><a href="/content/onsen/tokyosomeionsensakura">Tokyo Somei Onsen Sakura</a></li>
                        <li><a href="/content/onsen/spalaqua">Spa Laqua</a></li>
                        <li><a href="/content/onsen/timessparesta">Times Spa Resta</a></li>
                    </ul>
                </li>         
            </ul>
          </div>
        </div>
      </nav>