<% include ./partials/header %>

<section class="section-nav">
   <div class="container">
       <div class="row">
            <div class="col-md-4 col-xs-12">
                <a href="#section-a"><div class="navigation nav-1 text-center">Where To Eat</div></a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="#section-b"><div class="navigation nav-2 text-center">Where To Buy</div></a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="#section-c"><div class="navigation nav-3 text-center">Where to Relax</div></a>
            </div>
      </div>
      <script>
          window.sr = ScrollReveal();
          sr.reveal($('.section-nav'), {
          duration:1500,
          distance:'30px',
          viewFactor:0.2
});
      </script>
   </div>
</section>
<hr>
<section class="section" id="section-a">
    <div class="container text-center">
            <h2>Where To Eat</h2>
            <h2>——</h2>
            <p><em>Cheap? Weird? Find the best Izakaya in Tokyo</em></p>
    </div>
    <div class="container container-img">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-parent">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/q_61/v1529111572/ONIT/food/gonpachi/gonpachi.jpg" >
                    <div class="rest-name">
                        <h4>Gonpachi, Nishi</h4>
                    </div>
                    <div class="img-desc">
                        <a href="/content/food/gonpachi"><p>Learn More</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-parent">
                <div class="thumbnail">
                    <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_65,w_800/v1529111639/ONIT/food/warayakiya/warayakiya.jpg" alt="">
                    <div class="rest-name">
                        <h4>Warayakiya, Roppongi</h4>
                    </div>
                    <div class="img-desc">
                        <a href="/content/food/warayakiya"><p>Learn More</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-parent">
                <div class="thumbnail">
                    <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_65,w_800/v1529111606/ONIT/food/sasagin/sasagin1.jpg" alt="">
                    <div class="rest-name">
                        <h4>Sasagin, Yoyogi-Uehara</h4>
                    </div>
                    <div class="img-desc">
                        <a href="/content/food/sasagin"><p>Learn More</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-parent">
                <div class="thumbnail">
                    <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111626/ONIT/food/shirube/shirube5.jpg">
                    <div class="rest-name">
                        <h4>Shirube, Shimokitazawa</h4>
                    </div>
                    <div class="img-desc">
                        <a href="/content/food/shirube"><p>Learn More</p></a>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</section>
<hr>
<section class="section" id="section-b">
        <div class="container text-center">
                <h2>Where To Buy</h2>
                <h2>——</h2>
                <p><em>Plan to change your life style</em></p>
        </div>
        <div class="container container-img">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-parent">
                    <div class="thumbnail">
                        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111736/ONIT/shopping/ginza/ginza3.jpg" alt="">
                        <div class="rest-name">
                            <h4>Ginza</h4>
                        </div>
                        <div class="img-desc">
                            <a href="/content/shopping/ginza"><p>Learn More</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-parent">
                    <div class="thumbnail">
                        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111712/ONIT/shopping/asakusa/asakusa.jpg" alt="">
                        <div class="rest-name">
                            <h4>Asakusa</h4>
                        </div>
                        <div class="img-desc">
                            <a href="/content/shopping/asakusa"><p>Learn More</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 col-parent">
                    <div class="thumbnail">
                        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111754/ONIT/shopping/shibuya/shibuya3.jpg" alt="">
                        <div class="rest-name">
                            <h4>Shibuya</h4>
                        </div>
                        <div class="img-desc">
                            <a href="/content/shopping/shibuya"><p>Learn More</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-parent">
                    <div class="thumbnail">
                        <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111756/ONIT/shopping/shimokitazawa/shimokitazawa.jpg" alt="">
                        <div class="rest-name">
                            <h4>Shimo-kitazawa</h4>
                        </div>
                        <div class="img-desc">
                            <a href="/content/shopping/shimokitazawa"><p>Learn More</p></a>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </section>
   <hr>
    <section class="section" id="section-c">
            <div class="container text-center">
                    <h2>Where To Relax</h2>
                    <h2>——</h2>
                    <p><em>Forget about everything, enjoy the onsens</em></p>
            </div>
            <div class="container container-img">
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-parent">
                        <div class="thumbnail">
                            <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111340/ONIT/onsen/niwa/niwa1.jpg" alt="">
                            <div class="rest-name">
                                <h4>Niwa no Yu</h4>
                            </div>
                            <div class="img-desc">
                                <a href="/content/onsen/niwanoyu"><p>Learn More</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-parent">
                        <div class="thumbnail">
                            <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111340/ONIT/onsen/tokyo/tokyo3.jpg" alt="">
                            <div class="rest-name">
                                <h4>Tokyo Somei Onsen Sakura</h4>
                            </div>
                            <div class="img-desc">
                                <a href="/content/onsen/tokyosomeionsensakura"><p>Learn More</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-parent">
                        <div class="thumbnail">
                            <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111340/ONIT/onsen/spa/spa1.jpg" alt="">
                            <div class="rest-name">
                                <h4>Spa Laqua</h4>
                            </div>
                            <div class="img-desc">
                                <a href="/content/onsen/spalaqua"><p>Learn More</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-parent">
                        <div class="thumbnail">
                            <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_533,q_63,w_800/v1529111340/ONIT/onsen/times/times4.jpg" alt="">
                            <div class="rest-name">
                                <h4>Times Spa Resta</h4>
                            </div>
                            <div class="img-desc">
                                <a href="/content/onsen/timessparesta"><p>Learn More</p></a>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </section>

  <% include ./partials/footer %>