*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow:hidden;
}

h1 { font-family: 'Caveat', cursive; font-size: 500%;line-height:1.5 }
p { font-family: 'Montserrat', cursive;line-height:2}
a{font-family: 'Montserrat', cursive; color:#fff !important;}

header{
    position:absolute;
    z-index:0;
    width:100%;
    height:100vh;
    overflow:hidden;
 }
 
.header-images{
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
 }
 
 .header-images img{
     position:absolute;
     width:100%;
     height:100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     padding:0;
     margin:0;
 }
 
 
 .container {
    z-index:1;
    position:fixed;
    width:100%;
    top:20%;
    right:15%;
    text-align: center;
 }

 @media(max-width: 700px){
   .container{
     right:0;
   }
 }
 
 h1{
     font-weight:bold;
     color:#fff;
 }
 
p{
     font-size:17px;
     color:#fff;
 }
 
.btn{
     margin-top:2rem;
     background:none;
     color:#fff !important;
     border-color:#f1f1f1;
     outline:none !important;
 }