
/* STYLE APPLYING FOR ALL */

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

h1 { font-family: 'Montserrat', cursive; font-size: 50px; font-weight:bold;line-height:1.5;letter-spacing:3px;}
h2 { font-family: 'Montserrat', cursive; font-size: 28px; font-weight: 600; color:#F90B6D;line-height: 32px;}
h4 {font-family: 'Montserrat', cursive; font-weight: 600;}
p { font-family: 'Montserrat', cursive;line-height:2; font-size:14px}
a{font-family: 'Montserrat', cursive;}

.navbar-default{
  background-color: #fff;
  border-color: #c8ccd1;
  padding:0;
}
.navbar-default .navbar-brand{
    color:#000;
}



.section{
    margin-top:5%;
    transition:0.5s;
    width:100%;
}


/* STYLE FOR NAVBAR */

.section-nav{
    margin-top:10%;
}


.navigation {
    margin:1.66%;
    font-size:30px;
    padding-top:40%;
    padding-bottom:40%;   
    transition:0.3s;
}
.section-nav a{
    text-decoration:none;
}
.section-nav a :hover{
    -webkit-box-shadow: 0px 22px 61px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 22px 61px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 22px 61px 0px rgba(0,0,0,0.75);
    margin-top:-2%;
}


.nav-1{
    
    background: url(https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_300,q_auto:low,w_300/v1529142056/ONIT/nav/eat.png);
    background-size:cover;
    background-position: center;
    color:#000;
}


.nav-2{
    background: url(https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_300,q_auto:low,w_300/v1529142101/ONIT/nav/buy.png);
    background-size:cover;
    background-position: center;
    color:#fff;
}

.nav-3{
    background: url(https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_300,q_auto:low,w_300/v1529142149/ONIT/nav/onsen.png);
    background-size:cover;
    background-position: center;
    color:#f1f1f1;
}


/* STYLE FOR INDEX.EJS */
 
  section .container-img{
      width:70%;
  }

  
  section .thumbnail{
      padding:0;
      border:none;
      position:relative;
  }
  
  .section .container p{
      margin-bottom:2%;
  }

  .thumbnail .img-desc{
      background-color:rgb(8, 4, 4);
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      height:0;
      text-align:center;
      overflow-y:hidden;
      transition:0.5s;
  }

  .thumbnail .rest-name{
      position:absolute;
      padding:0;
      width:100%;
      top:40%;
      left:0;
      text-align:center;
      transition:0.5s;
      color:#fff;
  }
  .thumbnail a{
      color:#fff;
      margin-top:20%;
  }

  #section-b .thumbnail .img-desc{
      background-color:#F90B6D;
  }

  #section-c .thumbnail .img-desc{
    background-color:#1C6BA0;
}

/* STYLE FOR FOOD MODULE */
.food-background{
    position:fixed;
    width:100%;
    height:100vh;  
    background:#adacab;
    opacity:0.5
}

.onsen-background{
    position:fixed;
    width:100%;
    height:100vh;  
    background:#e6ecf2;
    opacity:0.5
}

.shopping-background{
    position:fixed;
    width:100%;
    height:100vh;  
    background:#f7a8c1;
    opacity:0.5
}


.module-title{
   width:100%;
   height:50vh;
   overflow:hidden;
}

.module-title img{
    position:absolute;
    width:100%;
    height:50vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    filter: brightness(1);
}

.module-title .title{
    position:relative;
    margin-top:120px;
    color:#fff;
    text-shadow:2px 2px #000;
}


.main-content{
    margin-top:5rem;
    padding:0 15rem;
    text-align:left;
}

 .main-content .title{
     text-align:center;
 }
 
 .main-content p{
     margin:5% auto;
 }

 .module-part2 .container{
     margin-top:5rem;
 }


 /* STYLE FOR SHOPPING MODULE */

 .shopping{
    padding-top:3%;
    padding-bottom:3%;
    border-bottom:1px #e4e5d5 solid;
 }

 .shopping-part1{
     padding-top:10%
 }

 .shopping .content{
     padding:0 8% 0 8%;
 }

 .shopping.thumbnail{
    padding:5% 5% 5% 5%;
 }

 .shopping .content p{
     text-align: left;
     margin:5% auto;
 }
 
 .shopping .thumbnail img{
     padding:0;
     width:100%;
 }

 #source{
     margin-top:4rem;
 }


 /* STYLE FOR ONSEN MODULE */

 .onsen{
    background:#e0edfc;
    padding-top:5%;
    padding-bottom:5%;
    border-bottom:1px #f1f1f1 solid;
 }
.onsen-part1{
    margin-top:4.3%;
}



@media (max-width: 1100px){
    .main-content{
        padding-left:2rem;
        padding-right:2rem;
    }
}
 
footer{
    margin-top:5%;
    display:block;
    width:100%;
    overflow:hidden;
}

.footer-image{
    position:relative;
    width:100%;
    overflow:hidden;
    opacity:0.8
}

.footer-image img{
    width:100%;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:10;
    overflow:hidden;
}

.footer-nav{
    padding-top:2rem;
    padding-bottom:2rem;
}

footer .container{
    width:60%;
    margin-top:3rem;
}

footer .footer-header{
    border-top:1px solid #514e50;
    border-bottom:1px solid #514e50;
}

footer .footer-header p{
    font-weight:bold;
}

footer .content p{
    font-family: 'Crimson Text', serif;
    font-weight:100;
    color:#000;
}
footer .content a{
    text-decoration:none;
}

footer .content p:hover{
    color:#666768 !important;
}


footer .social-media .fab{
    font-size:30px;
    color:#252526;
}

footer .social-media .fab:hover{
    color:#276bd8;
}

/*RESPONSIVE SETTING*/
@media(max-width:800px){
  .section-nav{
    margin-top:15%;
   }
   
   .section .container h2{
       font-size:100%;
   }
    .section .container p{
        font-size:10px;
    }
    
    .navigation{
        padding-top:30%;
        padding-bottom:30%;
        margin:8%;
    }
    footer .container{
        width:100%;
    }
    
    .footer-image{
        display:none;
    }
    
    .shopping .thumbnail{
        margin-top:10%;
    }
}

.module-title img{
     animation-name: imageBackground;
     animation-duration: 30s;
}

 @keyframes imageBackground {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 1
  }
}