<% include ../partials/header %>
 
<section class="food-background">

</section>

<section class="module-title">
     <img src="https://res.cloudinary.com/liuqidake/image/upload/q_auto:eco/v1529111579/ONIT/food/gonpachi/gonpachi1.jpg" >
     <div class="title text-center">
        <h1>Gonpachi</h1>     
    </div> 
</section>

<section class="module module-part1 ">
     <div class="main-content container">
            <p> Otherwise known as "the Kill Bill restaurant", 
                'Gonpachi' is a notable tourist attraction. 
                The main clientele are foreign tourists in pursuit 
                of one of the great movie destinations of Tokyo 
                (another one being the Karaoke-Kan in Shibuya where 
                the karaoke scenes in 'Lost in Translation' were filmed). 
                Though, upon saying that, whenever I have been to Gonpachi, 
                myself and family have always been the only foreign diners.
            </p>
            <p>
                The fact that Gonpachi is mainly a tourist spot means it 
                definitely caters towards a foreign palette. This meaning 
                that the dishes may not be as you would find them in a local 
                soba or tempura restaurant. Nevertheless, the food is enjoyable.
                    Upstairs is a sushi restaurant that again provides 
                    'gaijin-friendly' cuisine.
            </p>
            <p>
                The restaurant gave itself a name when its beautiful 
                decor inspired director, Quentin Tarantino, for the set 
                of his blockbuster 'Kill Bill'. Due to its big name it 
                has been visited by many an important figure, notably Bill 
                Clinton (though he visited the Odaiba branch) and George W. Bush. 
                Upon entering, you are met with a wall of photos of some famous
                people that have graced the lantern canopied dining hall.
            </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,q_65,w_906/v1529111587/ONIT/food/gonpachi/kill-bill.png">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_65,w_906/v1529111581/ONIT/food/gonpachi/gonpachi5.png">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,q_65,w_906/v1529111585/ONIT/food/gonpachi/kill-bill2.png" >
                </div>
            </div>
        </div>
     </div>
    </div>
    <div class="main-content container">
        <p>It is known for being an expensive dining experience, 
            though at lunch time, without drinks (there was complimentary tea), 
            the price was very reasonable- under 짜6,000 for 5 people (around 14 USD each). 
            Most dishes are around 짜750-짜1,500, and in some cases, like that of the 
            delicious Oyako Donburi (a rice dish topped with egg and chicken), you can 
            supersize to an 'Extra Large Portion' for only 짜100. With this supersize 
            option, you receive considerably more food, so for those who are big 
            eaters- that is a trick worth remembering.
        </p>
        <p>
            Some notable dishes were the Avocado and Camembert Cheese Tempura
            - "what's that?!" I hear you say. Now let me tell you one thing about 
            this place, you must try this dish. This may seem like the oddest concoction 
            of flavours known to man, but, it is honestly the best. Another enjoyable 
            dish was the aforementioned Oyako Don, which- to be honest, unless you 
            can eat as an Olympic sport, like myself, you may not want the extra large 
            portion like I did. Though, when sharing, it is a more advisable size. For 
            those who are perhaps not fancying Japanese food, or simply aren't that keen; 
            Gonpachi does a marvelous Caesar Salad, which is a good size for sharing as a 
            starting dish, or as a main meal.
        </p>
        <p>
            Setting a great mood alongside some great food, dark wood and oriental music 
            make the ambiance in this old-style, Japanese restaurant. The English speaking 
            staff and menus make the restaurant ideal for those who wish to experience a 
            cultural Japanese meal- without that ever embarrassing language barrier 
            back-and-forth with the waiters.
        </p>
        <p id="source">
            <strong><em>From @Japan Travel</em></strong>
        </p>
    </div>
</section>


<% include ../partials/footer %>