<% include ../partials/header %>
<section class="food-background">

</section>   

<section class="module module-title">
     <img src="/images/food/sasagin/sasagin2.jpg">
     <div class="title text-center">
        <h1>Sasagin</h1>  
    </div> 
</section>

<section class="module module-part1 container">
     <div class="main-content">
            <p>Every time I visit Tokyo, I look forward to squeezing in
                 dinner at Sasagin especially when there are seasonal goodies 
                 to try. This time round the Sanma fish (or Pacific Saury
                  in english and, according to Wikipedia, also known as 
                  the mackerel pike) was in season and it was simply grilled 
                  with salt. The Sanma is an oily fish but much less fishy 
                  than mackerel or sardine. And when its grilled just right 
                  with salt, all you need is a squeeze of lime or lemon. 
                  While also known for a great selection of sake, Sasagin 
                  continues to amaze with food that is far loftier in standards 
                  that most izakaya bars while keeping prices reasonable 
                  (around USD 50 per person for a set meal). It’s nice to see this 
                  izakaya receive recognition from the Michelin Guide, which added 
                  Sasagin to its list of Bib Gourmand eateries in the city in 2015.
            </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/food/sasagin/sasagin1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/food/sasagin/sasagin5.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/food/sasagin/sasagin6.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="main-content container">
        <p>
            Sasagin is located near the Yoyogi-Uehara subway station, 
            which is on the Odakyu subway line and just a few stops 
            west of Omotesando. So if the cab fare from Ginza is a bit 
            steep, it’s actually pretty easy to find using the subway. 
            Sasagin is open only for dinner from 5pm Monday through 
            Saturday (closed Sundays). For more details and photos on Sasagin, 
            please see my earlier blog. And for contact information see the 
            Guru Navi site. Lest I forget, Sasagin has a great selection of 
            sake but I can’t do justice on this as alas, I’m not a sake drinker. 
            I just come to this isakaya for the good food.
        </p>
        <p id="source">
            <strong><em>From @Gazing And Grazing</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>