<% include ../partials/header %>

<section class="food-background">

</section>

<section class="module-title">
        <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_800,q_auto:low,w_800/v1529111648/ONIT/food/warayakiya/warayakiya1.jpg" >
        <div class="title text-center">
            <h1>Warayakiya</h1>     
        </div> 
</section>
   
   <section class="module module-part1 container">
        <div class="main-content">
               <p>
                    A few weeks ago, Tokyo was hit with its worst snowstorm 
                    in about 20 years. Depending on how you look at it, it was 
                    either a bad time to go out for dinner or a perfect time, 
                    given that I went to a cozy izakaya called Warayakiya (わらやき屋)
                     located on a side street just off of Roppongi Crossing. But 
                     given the high marks it has gotten from several of my friends and 
                     professional reviewers on the internet, I figured that it would be 
                     worth the adventure through the wind and snow.
               </p>
               <p>
                    Warayakiya is known for a special method of grilling meat and 
                    seafood that originated in Kochi Prefecture on the island of 
                    Shikoku. Instead of charcoal, chefs use straw which burns at a 
                    very high temperature — 900 degrees C (about 1650 degrees F) — and 
                    sears food quickly.  You can request a seat around the grill, 
                    where you will get a close up view of some spectacular pyrotechnics.
               </p>
               <p>
                    Warayakiya is best known for its katsuo tataki (seared bonito) which 
                    is served with garlic, scallions, sea salt, and wasabi on the side.  
                    The katsuo perfectly is grilled on the outside but retains its raw, 
                    high-grade sashimi goodness on the inside. I’ve had seared tuna before, 
                    but Warayakiya’s is by far the most delicious (and beautiful) I’ve had so far.
               </p>
       </div>
   </section>
   
   <section class="module module-part2">
        <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="thumbnail">
                            <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_62,w_906/v1529111640/ONIT/food/warayakiya/warayakiya2.png" >
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="thumbnail">
                            <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_65,w_906/v1529111643/ONIT/food/warayakiya/warayakiya3.png">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="thumbnail">
                            <img src="http://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111639/ONIT/food/warayakiya/warayakiya.png">
                        </div>
                    </div>
                </div>
             </div>
        </div>
       <div class="main-content container">
           <p>In addition, I had the grilled beef tongue which was good but pales in 
               comparison to the amazing katsuo tataki.  I understand the grilled 
               chicken is another regional specialty that is quite popular. I also had 
               a mixed salad that came with ginger, onion, and carrot flavored dressing,
                and deep-fried julienned sweet potato fries which were quite sweet and 
                much harder that I would have liked.
           </p>
           <p>
                To wash it all down, Warayakiya features a sizable selection of sake. 
                I forgot to write down which one I ordered, but it was really good and 
                went well with the katsuo tataki.
           </p>
           <p>
                Warayakiya has nice, relaxed, cozy vibe and is great for dates or just 
                hanging out with friends.  The katsuo tataki is definitely worth the 
                trip. I can also attest that it is a great place to warm up after 
                walking around in the snow.
           </p>
           <p id="source">
                <strong><em>From @Japan Travel</em></strong>
            </p>
       </div>
   </section>

<% include ../partials/footer %>