<% include ../partials/header %>
 
<section class="onsen-background">

</section>

<section class="module-title">
     <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_1000,q_auto:low,w_1000/v1529111333/ONIT/onsen/niwa/niwa4.png" >
     <div class="title text-center">
        <h1>Niwa no Yu</h1>     
    </div> 
</section>

<section class="module module-part1 ">
     <div class="main-content container">
            <p> At Toshimaen Niwa no Yu, you can enjoy a tranquil bath while overlooking the Japanese Garden. 
                This natural hot spring, abundant with minerals, is drawn from 1445 meters underground. 
                The mineral-rich hot spring water is said to be beneficial for the skin and it also has an effect of boosting 
                blood circulation, so you will stay nice and warm even long after you’ve gotten out of the bath.
            </p>
            <p>
                Aside from the indoor hot spring and the outdoor rock bath, there are also bathtubs for Ne-yu, which is a 
                bath taken while lying down, “micro bubble” bath, which is similar to a Jacuzzi except with much smaller 
                bubbles that are softer on the skin, and carbonated water bath.
                In addition, there is a one-person bathtub made of Shigaraki ware, which is a type of Japanese traditional 
                ceramics that originated in the Shigaraki area of Shiga prefecture.
            </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_69,w_906/v1529111340/ONIT/onsen/niwa/niwa1.webp" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111338/ONIT/onsen/niwa/niwa2.webp" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111335/ONIT/onsen/niwa/niwa.webp" >
                </div>
            </div>
        </div>
     </div>
    </div>
    <div class="main-content container">
        <p>The Onsen facility houses a Bade Pool, which originated in Germany as a hydrotherapy
             facility for stretching and massaging underwater and is said to have a number of health 
             benefits. This zone is open to everyone and you need to put on your swimming suits in order to use 
             this facility. The water temperature of the Bade Pool is set at 35 degrees Celsius, which is 
             almost the same temperature as the human body, and thus considered to be relaxing for the body.
        </p>
        <p>
            There are also steam saunas, in which you can sweat out your bodily wastes, hot tubs, outdoor
             natural hot spring Jacuzzi, and Finland-style saunas. Find your favorite type of bath and enjoy! 
        </p>
     
        <p id="source">
            <strong><em>From @Tokyo Story</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>