<% include ../partials/header %>
 
<section class="onsen-background">

</section>

<section class="module-title">
     <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_1000,q_auto:low,w_1000/v1529111447/ONIT/onsen/spa/spa2.png" >
     <div class="title text-center">
        <h1>Spa Laqua</h1>     
    </div> 
</section>

<section class="module module-part1 ">
     <div class="main-content container">
            <p> From an amusement park to a shopping mall, restaurants, and a fitness area, 
                Tokyo Dome City LaQua has it all. And this natural hot spring facility is one of them. 
                This spa facility has a resort-like atmosphere that makes you forget you are still right 
                in the middle of Tokyo.
            </p>
            <p>
                The natural hot spring is drawn from 1700 meters underground, beneath the Tokyo Dome City, 
                and the facility houses indoor as well as open-air hot springs.
                There are also “Hydro-foot” facility (available in women’s bath area only), 
                in which the bubbles massage and soothe your feet, and the “Bubble-pit”, or a jacuzzi.
            </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111449/ONIT/onsen/spa/spa4.jpg" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_904/v1529111445/ONIT/onsen/spa/spa1.jpg" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111368/ONIT/onsen/spa/spa.jpg" >
                </div>
            </div>
        </div>
     </div>
    </div>
    <div class="main-content container">
        <p>The Onsen facility houses a Bade Pool, which originated in Germany as a hydrotherapy
             facility for stretching and massaging underwater and is said to have a number of health 
             benefits. This zone is open to everyone and you need to put on your swimming suits in order to use 
             this facility. The water temperature of the Bade Pool is set at 35 degrees Celsius, which is 
             almost the same temperature as the human body, and thus considered to be relaxing for the body.
        </p>
        <p>
            There are also steam saunas, in which you can sweat out your bodily wastes, hot tubs, outdoor
             natural hot spring Jacuzzi, and Finland-style saunas. Find your favorite type of bath and enjoy! 
        </p>
     
        <p id="source">
            <strong><em>From @Tokyo Story</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>