<% include ../partials/header %>
 
<section class="onsen-background">

</section>

<section class="module-title">
     <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_800,q_auto:low,w_800/v1529111468/ONIT/onsen/times/times1.png">
     <div class="title text-center">
        <h1>Times Spa Resta</h1>     
    </div> 
</section>

<section class="module module-part1 ">
     <div class="main-content container">
            <p> 
                One of the classiest spa complexes in central Tokyo, Spa Resta occupies 
                an unlikely location: floors 10 to 12 of the Times Station parking garage 
                and car rental facility in Ikebukuro. Don't let that get in your way though, 
                as this spot is perfect for a long, lazy day of soaking, eating and relaxing.
            </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111471/ONIT/onsen/times/times4.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111472/ONIT/onsen/times/times3.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111466/ONIT/onsen/times/times.jpg">
                </div>
            </div>
        </div>
     </div>
    </div>
    <div class="main-content container">
        <p>
            The men's side has a wide range of baths, a Finnish-style sauna, rotenburo and even 
            a terrace area with deck chairs, while women can look forward to an open-air jacuzzi, 
            a 'clear mist' sauna complete with refreshing aroma, and other beauty-enhancing facilities. 
            The treatment menu includes Thai massage, foot care, ayurvedic massage, Korean body scrubs 
            and much more, while you'll also find a unisex 'relaxation lounge' and a reservations-only 
            'premium lounge' bookable for ¥500 per hour (or ¥1,700 for an entire night!). Just note that 
            anyone with tattoos or under the age of 18 will not be admitted.
        </p>
        <p id="source">
            <strong><em>From @Time Out</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>