<% include ../partials/header %>
 
<section class="onsen-background">

</section>

<section class="module-title">
     <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_500,q_auto:low,w_500,x_50,y_100/v1529111489/ONIT/onsen/tokyo/tokyo1.png" >
     <div class="title text-center">
        <h1>Tokyo Somei Onsen Sakura</h1>     
    </div> 
</section>

<section class="module module-part1 ">
     <div class="main-content container">
            <p>
                The interior of Tokyo Somei Onsen “Sakura” is reminiscent of a high-end “ryokan”, a 
                Japanese style hotel, with its serene and relaxing atmosphere.
            </p>
            <p>
                The main bathtub, made from white cedar, is unique due to its water that is kept at 
                a mildly lukewarm temperature of 38 degrees Celsius (100 degrees Fahrenheit). By taking 
                a fairly long bath in such temperature, you can expect a relaxing effect that also may 
                help with sleep at night for people who may be struggling with it. It is also great for 
                people seeking to relax their tired bodies, after days of sightseeing in Tokyo.
            </p>
            <p>
                There are jaccuzis and a large sized sauna available, and for women, mist saunas and a 
                “standing jacuzzi” is also available
            </p>
    </div>
</section>

<section class="module module-part2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111492/ONIT/onsen/tokyo/tokyo4.jpg" >
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111490/ONIT/onsen/tokyo/tokyo3.jpg">
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="https://res.cloudinary.com/liuqidake/image/upload/c_scale,h_510,q_auto:eco,w_906/v1529111490/ONIT/onsen/tokyo/tokyo2.jpg" >
                </div>
            </div>
        </div>
     </div>
    </div>
    <div class="main-content container">
        <p>The outdoor hot springs are definitely the highlight at this facility. The “silky bath” is said 
            to have effects on the skin and the stone sauna uses a slab taken from “tenshoseki”, which is a 
            rock that is said to be the only one of its kind found in Japan.
        </p>
       <p>
            Chiropractics, beauty salons, hair salons... this facility has it all.
            Once you’ve refreshed yourself in the bath, why don’t you take a rest in the break room? There is a salon 
            and a common room, which can be used for free. In the common room, you can order drinks or light meals.
            At the “relaxation room”, you can also enjoy a foot massage, although this room is only available to adults.
       </p>
     
        <p id="source">
            <strong><em>From @Tokyo Story</em></strong>
        </p>
    </div>
</section>

<% include ../partials/footer %>